// icons DME
i {
min-width: 35px;
  min-height: 35px;
  text-align: center;
  display: block;
}
.icon-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.icon-size-50 {
    width:50px;
    height:50px;
}

.inline-icon {
    width:10px;
    height:10px;
    display: inline-block;;
    float:right;
}
.icon-pc {
    background-image: url("../media/UI/icon-01.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-video {
    background-image: url("../media/UI/icon-02.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-code {
    background-image: url("../media/UI/icon-03.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-gd {
    background-image: url("../media/UI/icon-04.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-3d {
    background-image: url("../media/UI/icon-05.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-linkedin {
    background-image: url("../media/UI/icon-linkedin.svg");
    background-position: center center;
}
.icon-git {
    background-image: url("../media/UI/icon-git.svg");
    background-position: center center;
}
.icon-flickr {
    background-image: url("../media/UI/icon-flickr.svg");
    background-position: center center;
}
.icon-mail {
    background-image: url("../media/UI/icon-mail.svg");
    background-position: center center;
}
.icon-deviant {
    background-image: url("../media/UI/icon-deviant.svg");
    background-position: center center;
}
