@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,700italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic);

body,html {
    font-family: 'Lato', Arial, sans-serif;
    font-weight:400;
    margin:0px;
    padding-right:30px;
}
html {
    height:100vh;
    width:auto;
    overflow-y: hidden;
    overflow-x: scroll;
}

.container{
    width: inherit;
    height:90vh;
}

.wrapper{
    width:inherit;
    height:90vh;
}
.main-container {
    width: auto;
    height:100vh;
}

.filter {
    height:5vh;
    width:100vw;
    background-color:#ddd;
    position:fixed;
    margin:-7px 0px auto auto;
    padding-left: 30px;
}

.column {
    width: 900px;
    height: inherit;
    display:inline-block;
    float: left;
    background-color:#FFF7F0;
    margin:5vh 20px auto 0px;
}

.vertical-position {
    top:50%;
    transform: translateY(-50%);
}

.center-align {
    text-align: center;
}

.ILove {
    float:left;
    padding-right:10px;
}
img {
    max-height:90vh;
    max-width: 95vw;
}
.addborder {
    border:1px solid #ddd;
}

.tableborder {
    border:1px solid #ddd;
    padding:20px;
}
table {
    width:100%;
    height:auto;
    table-layout: fixed;
    td, tr {
        padding: 0px 5px;
        height:auto;
        width:auto;
    }
    img {
        width:auto;
        height:auto;
        max-width:100%;
    }
}
.project-video {
    width:100%;
    height:auto;
    min-height: 200px;
}
// always center image
.center-image {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.home-space {
    width: 10vw;
    height:100vh;
    float:left;
}

//customize images with
.imageW90 {
    @extend .center-image;
    width:90% !important;
}
.imageW80 {
    @extend .center-image;
    width:80% !important;
}
.imageW70 {
    @extend .center-image;
    width:70% !important;
}
.imageW60 {
    @extend .center-image;
    width:60% !important;
}
.imageW50 {
    @extend .center-image;
    width:50% !important;
}
.imageW40 {
    @extend .center-image;
    width:40% !important;
}
.imageW30 {
    @extend .center-image;
    width:30% !important;
}

// carousel slider
.slick-dots {
    top: -25px !important;
}
.slick-dots li button {

}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    left: -20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 99999;
    width: 50px;
    color:white;
    bottom:0px;
}

.tooltip:hover:before{
    // border: solid;
    // border-color: #333 transparent;
    // border-width: 6px 6px 0 6px;
    // bottom: 10px;
    // content: "";
    // left: -20px;
    // position: absolute;
    // z-index: 99;
}

.intro-space {
    margin-left: 150px;
}
