@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,700italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic);

body,html {
    font-family: 'Lato', Arial, sans-serif;
    font-weight:400;
}
html {
    height:100vh;
    width:auto;
    overflow-y: hidden;
    overflow-x: scroll;
}

.container{
    width: inherit;
    height:90vh;
}

.wrapper{
    width:inherit;
    height:90vh;
}
.main-container {
    width: auto;
    height:100vh;
}

.filter {
    height:5vh;
    width:100vw;
    background-color:#ddd;
    position:fixed;
    margin:-7px 0px auto auto;
    padding-left: 30px;
}

.column {
    width: 900px;
    height: inherit;
    display:inline-block;
    float: left;
    background-color:#FFF7F0;
    margin:5vh 20px auto 0px;
}

.center-align {
    text-align: center;
}

.ILove {
    float:left;
    padding-right:10px;
}
img {
    max-height:90vh;
    max-width: 95vw;
}
.addborder {
    border:1px solid #ddd;
}
.tableborder {
    border:1px solid #ddd;
    padding:20px;
}
table {
    width:100%;
    height:auto;
    table-layout: fixed;
    td, tr {
        padding: 0px 5px;
        height:auto;
        width:auto;
    }
    img {
        width:auto;
        height:auto;
        max-width:100%;
    }
}
.project-video {
    width:100%;
    height:auto;
    min-height: 200px;
}
// always center image
.center-image {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.home-space {
    width: 10vw;
    height:100vh;
    float:left;
}

// icons DME
i {
min-width: 35px;
  min-height: 35px;
  text-align: center;
  display: block;
}
.icon-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.icon-size-50 {
    width:50px;
    height:50px;
}

.inline-icon {
    width:15px;
    height:15px;
    display: block;
    float:right;
}

.icon-pc {
    background-image: url("../media/UI/icon-01.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-video {
    background-image: url("../media/UI/icon-02.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-code {
    background-image: url("../media/UI/icon-03.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-gd {
    background-image: url("../media/UI/icon-04.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-3d {
    background-image: url("../media/UI/icon-05.svg");
    background-position: center center;
    fill:#F37626;
}
.icon-linkedin {
    background-image: url("../media/UI/icon-linkedin.svg");
    background-position: center center;
}
.icon-git {
    background-image: url("../media/UI/icon-git.svg");
    background-position: center center;
}
.icon-flickr {
    background-image: url("../media/UI/icon-flickr.svg");
    background-position: center center;
}
.icon-mail {
    background-image: url("../media/UI/icon-mail.svg");
    background-position: center center;
}

//customize images with
.imageW90 {
    @extend .center-image;
    width:90% !important;
}
.imageW80 {
    @extend .center-image;
    width:80% !important;
}
.imageW70 {
    @extend .center-image;
    width:70% !important;
}
.imageW60 {
    @extend .center-image;
    width:60% !important;
}
.imageW50 {
    @extend .center-image;
    width:50% !important;
}
.imageW40 {
    @extend .center-image;
    width:40% !important;
}
.imageW30 {
    @extend .center-image;
    width:30% !important;
}

// carousel slider
.slick-dots {
    top: -25px !important;
}
.slick-dots li button {

}

[tooltip]:before {
    position : absolute;
     content : attr(tooltip);
     opacity : 0;
}

[tooltip]:hover:before {
    opacity : 1;
}
