.page-Intro {
    height: inherit;
    width: 35vw;
    display:inline-block;
    padding:0 100px;
    float:left;

    .pageIntro-text{
        height: auto;
        width:auto;
        text-align: center;
        margin-top: 50vh;
        transform: translate(0%, -50%);
    }
}
