.flex-box{
    height:90vh;
    width: auto;
    display:flex;
    align-items: center;
}
.project-page-mainlayout {
    min-width:460px;
    height: auto;
    width:auto;
    display: inline-block;
    float:left;
    padding:0px 40px 0px 40px;
    h4 {
        text-transform: uppercase;
    }
}
.project-page-single {
    @extend .project-page-mainlayout;
    width:auto;
    min-width:460px;
    max-width:1400px;

    img {
        width: 100%;
        height:auto;
    }
}
// ****************** image box layout **************** //
.project-page-img {
    @extend .project-page-mainlayout;
    max-height: 90vh;
    width:auto;
    height:auto;
    overflow:hidden;
    b {
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 7px;
    }
    img {
        width:auto;
        height:auto;
        max-width: 100%;
    }
}

// 1 up : multiple below
    .image-up {
        max-height: 70%;
        height: auto;
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height:auto;
        }
        p{
            margin-bottom: 7px;
        }
    }
    .image-row {
        min-height:30%;
        height:auto;
        img {
            width:auto;
            height:auto;
            max-height:100%;
            display: inline-block;
            float:left;
            padding:15px 10px 0px 0px;
        }
        p{
            margin-bottom: 7px;
        }
    }

    /* table properties */
.td-padding {
    padding:0 20px;
}
.td-sizing {
    width:40%;
}
.custom-table{
    padding:20px;
    table-layout: auto;
}

// different box size customized to the content
.box-size-80 {
    min-width: 80vw;
}

.box-size-60 {
    min-width: 60vw;
}

.box-size-40 {
    min-width: 40vw;
}

.box-size-20 {
    min-width: 40vw;
}
