/*page layout */
/* font color */
/*animation effect */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,700italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic);
.fade-in-5sec, .image-grid-each:hover .image-grid-text {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.fade-in-1sec {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
}

html {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
}

.container {
  width: auto;
  height: 90vh;
}

.wrapper {
  width: inherit;
  height: 90vh;
}

.main-container {
  width: auto;
  height: 100vh;
}

.filter {
  height: 5vh;
  width: 100vw;
  background-color: #ddd;
  position: fixed;
  margin: -7px 0px auto auto;
  padding-left: 30px;
}

.column {
  width: 900px;
  height: inherit;
  display: inline-block;
  float: left;
  background-color: #FFF7F0;
  margin: 5vh 20px auto 0px;
}

.center-align {
  text-align: center;
}

.ILove {
  float: left;
  padding-right: 10px;
}

p, li {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 200;
  color: #232628;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  color: #3c3e3f;
}

h4, h5 {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  color: #232628;
}

.capital-text {
  text-transform: uppercase;
}

.image-grid-slice {
  top: 0px;
  width: auto;
  height: auto;
  display: inline-block;
}

.image-grid-each {
  width: 25vh;
  height: 25vh;
  min-width: 100px;
  max-width: 300px;
  min-height: 150px;
  max-height: 300px;
  margin: 20px 10px;
  overflow: hidden;
  position: relative;
}

.image-grid-text {
  display: none;
  z-index: 9999;
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  text-align: center;
}
.image-grid-text p {
  color: #FFF;
  width: 80%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.image-grid-each:hover .image-grid-text {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline;
  color: #fff;
}

.image-grid-image {
  display: inline;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

/* partial */
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/*section where the content is displayed next to the nav bar */
.wrapper {
  padding-left: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-toggle {
  margin-bottom: 30vh;
}

/*the content next to sidebar */
.wrapper.toggled {
  padding-left: 150px;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 150px;
  width: 40px;
  height: 100vh;
  margin-left: -150px;
  /* position of the side bar */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #FFF;
}
.sidebar-wrapper img {
  width: 30px;
  height: auto;
  fill: #ddd;
}

.sidebar-line {
  width: 40px;
  display: inline;
  position: fixed;
  height: 80vh;
  top: 10vh;
}

.home {
  margin-top: 20vh;
}

.nav-title-image {
  width: 100px !important;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

.nav-title-image-S {
  margin-left: 10px;
  display: block;
}

.sidebar-wrapper.toggled {
  width: 150px !important;
  /*the width of the side bar */
}
.sidebar-wrapper.toggled .chap-title {
  padding-right: 40px;
  text-align: right;
}

/*#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}*/
.wrapper.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -300px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin-left: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  border-right: 1px double #999;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: red;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

.tabActive {
  color: red;
  background-color: grey;
}

/*@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 50px;
    }
}*/
.simple-modal-base {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 1;
  pointer-events: auto;
}
.simple-modal-base div {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background: #fff;
}
.simple-modal-base .close {
  color: black;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.simple-modal-base .close:hover {
  background: #00d9ff;
}

.page-Intro {
  height: inherit;
  width: 35vw;
  display: inline-block;
  padding: 0 100px;
  float: left;
}
.page-Intro .pageIntro-text {
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 50vh;
  transform: translate(0%, -50%);
}

/*pages */
.flex-box {
  height: 90vh;
  width: inherit;
  display: flex;
  align-items: center;
}

.project-page-mainlayout, .project-page-single, .project-page-img {
  height: auto;
  display: inline-block;
  float: left;
  padding: 0px 40px 0px 40px;
}

.project-page-single {
  width: auto;
  min-width: 400px;
  max-width: 1400px;
}
.project-page-single h4 {
  text-transform: uppercase;
}
.project-page-single img {
  width: 100%;
  height: auto;
}

.project-page-img {
  width: auto;
  max-width: 90vw;
  min-width: 400px;
}
.project-page-img img {
  width: 100%;
  height: auto;
}
.project-page-img .image-row img {
  width: 20%;
  height: auto;
  display: inline-block;
  float: left;
  padding: 10px 5px;
}

.HomeSVG {
  width: 40vw;
  height: auto;
  padding: 0px 80px;
  max-height: 90vh;
  float: left;
  margin-top: 50vh;
  transform: translate(0%, -50%);
}
.HomeSVG p {
  font-size: 1.4em;
}

#namelogo {
  width: 80%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fade-in.three {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.four {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/*responsive */
@media screen and (max-height: 415px) {
  .home {
    margin-top: 0;
  }
}
/* if min width is greater than 1020 horizontal (ipad min) */
@media (min-width: 1020px) and (orientation: landscape) {
  /* project page */
  .project-page-single {
    width: 600px;
  }

  .project-page-img {
    width: 950px;
  }
}
/* for mobile display, use bootstrap*/
@media only screen and (max-width: 640px) and (orientation: vertical) {
  /* project page */
  .project-page-single {
    width: 80vw;
  }

  .pageIntro {
    width: 100vw;
  }
}
@media only screen and (max-height: 400px) and (orientation: landscape) {
  .image-grid-each {
    height: 100vh;
    width: auto;
    display: inline-block;
  }
}
